@import "tailwindcss";


@theme {
  --color-primary: var(--bg-primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent-hover: var(--accent-hover);
  --color-success: var(--success);
  --color-error: var(--error);
}

:root {
  --primary: #4f46e5;
  --background: #ffffff;
  --foreground: #111827;
  --secondary: #e5e7eb;
  --muted: #6b7280;
  --border: #e5e7eb;
  --accent-hover: #4338ca;
  --success: #10b981;
  --error: #ef4444;
}

.dark {
  --primary: #4f46e5;
  --background: #1f2937;
  --foreground: #f9fafb;
  --secondary: #374151;
  --muted: #9ca3af;
  --border: #374151;
  --accent-hover: #818cf8;
  --success: #10b981;
  --error: #ef4444;
}
