@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0f0f0f] text-white antialiased;
    font-family: "Roboto", sans-serif;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}